:root{
  --logoTextColor: #5B5B5B;
  --textColor: #344054;
  --textColor2: #8F959F;
  --textColor3: #1E2124;
  --textColor4: #BFD7F2;
  --textColor5: #6F7786;
  --primaryColor: #006CE6;
  --primaryBgColor: #E5EFFB;
  --secondaryBgColor: #F5F9FF;
  --primaryHoverColor: rgba(0,108,230,0.08);
  --primaryHoverColor2: rgb(0,75,161);
  --hoverColor: rgba(0,0,0,0.08);
  --disabledColor: #A3AAB7;
  --profitColor: #039855;
  --profitFillColor: #F1FBF6;
  --lossColor: #C22E00;
  --lossFillColor: #FFF6F6;
  --ocSellBidOfferBgColor: #C85959;
  --putOiColor: #CFEFDF;
  --callOiColor: #FFE2E3;
  --putOiColor2: #71C79F;
  --callOiColor2: #E2A7A7;
  --projectedProfit: #039855;
  --projectedLoss: #C22E00;
  --dividerColor: #DADBDC;
  --dividerColor2: #D8DCE3;
  --outlineColor: #E9ECF0;
  --backgroundColor: #FFFFFF;
  --backgroundColor2: #F4F4F4;
  --backgroundColor3: #F9F9F9;
  --backgroundColor4: #FBFBFB;
  --promoBadgeBg: #1B3554;
  --SebiIconBg: #E9E8FF;
  --notificationBadgeBg: #FF5722;
  --warningColor: #E5AC25;
  --itmOptionHighlight: #FFFEE5;
  --vtHighlightTextColor: #BB551B;
  --vtHighlightBgColor: #FEF8F6;
  --vtHighlightBorderColor: #C22E00;
  --nrmlBgColor: #F2EDFD;
  --nrmlTextColor: #864DEB;
  --coBgColor: #E5F4F3;
  --coTextColor: #009688;
  --misBgColor: #FFF4E5;
  --misTextColor: #FFA531;
  --cncBgColor: #FFF4FC;
  --cncTextColor: #E946E2;
  --whiteColor: #FFFFFF;
  --orderStatusOpenBg: #FEF6D9;
  --orderStatusOpenText: #BE7E1C;
  --orderStatusTriggerPendingBg: #FFEEE8;
  --boxShadowColor: rgba(86,86,86,0.2);
  --boxShadowColor2: 0px 1px 3px rgba(16,24,40,0.1),0px 1px 2px rgba(16,24,40,0.06),0px 0px 0px 4px #E0F2FE;
  --boxShadowColor3: 0px 0px 4px rgba(102,112,133,0.1),0px 12px 32px -8px rgba(102,112,133,0.35);
  --boxShadowColor4: 0px 1px 2px rgba(16,24,40,0.05);
  --spotColor: #D256F1;
  --futureColor: #33A3E3;
  --spotVolumeColor: #FFC050;
  --atmIvColor: #4FCFD5;
  --ivpColor: #1D7775;
  --indiaVixColor: #FF7050;
  --promoTag: #FFE178;
  --promoTagText: #231B00;
  --zeroCostTag: #BAF60F;
  --zeroCostTagText: #141F00;

  font-family: 'Roboto', sans-serif;
}